// ======================================
//  Variables
// ======================================

// Colors
$background-color: #fff;

$primary-color: #7477BF ;
$secondary-color: #4D4C71;
$element-background-color: #F8F9F9;

$color-text: #777777;


//fonts

$font-family: 'Source Sans Pro', sans-serif;


// Media Query Breakpoints

$breakpoints:(
'm': 768px,
'l': 1024px
);


