// ======================================
//  Variables
// ======================================

// Colors
$white: #fff;

$primary-color: #7477BF ;
$secondary-color: #4D4C71;

$color-text: #777777;
$color-bg: $white;


//fonts

$font-primary: 'Lato', sans-serif;


// Media Query Breakpoints

$breakpoints:(
'm': 768px,
'l': 1024px
);
