/* ===================================== 
  Layout
======================================== */

.main-header{
  text-align: center;
  height: 8em;
  background-color: $primary-color;
  @include mquery ('m'){
    @include flex($dir: row, $just: space-between);
    text-align: left;
    height: 5em;
    background-color: $primary-color;
  }
}

.header{
  margin-top: .4em;
  @include mquery ('m'){
  margin: .4em 0 0 0.5em;
}
}

.profile-info{
  @include flex($dir: row,$just: center);
  margin-top: 1em;
  text-align: center;
  @include mquery ('m'){
    padding: 0 1.3em;

} 
}

.profile-detail{
  @include flex($dir: row); 
  margin-left: 2em;
  @include mquery ('m'){
    margin-left: 0;
    padding: 0 2em;
    height: 3.5em;
    border-left: solid 1px black; 
  
}
}


.member-name{ 
  margin-top: 1em;
  margin-left: 1em;
  @include mquery ('m'){
    margin-left: 1.5em;
}
}

.main-nav{
  height: 5em;
  background-color: $secondary-color;
  @include mquery('m'){
  height:100%;
}
}

.nav-links{
  @include flex($dir: row, $just: space-between);
  padding: .5em 3em;
  margin-top: .5em;
  @include mquery('m'){
    @include flex($dir: column, $just: center);
    padding: .5em;
  }    
}

.nav-links li{
  @include mquery('m'){
    margin: 0 .5em;
    padding: 1em 0;
  }
}

.dashboard-header{
  @include flex($dir: row, $just: space-between);
  @include mquery('m'){
    height: 4em;
}
}

.dashboard-search{
  background-color: lightgrey;
  width: 80%;
  border-bottom-left-radius: 20px;
}

.traffic-header{
  @include flex($dir: row, $just: space-between);
}

.traffic-nav{
  @include flex($dir: row);
  margin-top: 1em;
  margin-right: .6em;
  & li{
    margin-left: .5em;
    border-radius: 8px;
    border: 1px solid black;
    height: 1.5em;
    min-width: 4em;
    text-align: center; 
  }

}

.social-detail{
  @include flex($dir: row, $wrap: wrap, $just: space-evenly);
  padding: 0 .6em .6em .6em;
  @include mquery('m'){
    padding: 1em;
}
}

.social-container{
  @include flex($dir: row, $wrap: wrap);
  border: solid 1px lightgrey;
  border-radius: 5px;
  background-color:#F8F9F9 ;
  width: 32%;
  @include mquery('m'){
    height: 125px;
    }

  }

  .social-text{
    margin-left: 2em;
   @include mquery ('m') {
    margin: 1em 0 .1em .1em;
   }
   @include mquery ('l') {
    margin: 1em 0 .5em 2em;
   }
   & h5{
    color: $primary-color;
    font-weight: bold;
    font-size: 1em;
    @include mquery ('m'){
      font-size: 1.2em;
      margin: 0;
    }
    @include mquery ('l'){
      font-size: 1.8em;
    }
  }
   & p{
    color: grey;
    font-size: 1.5em;
    @include mquery ('m'){    
     font-size: 2em;
     margin: .2em 0;
   } 
   @include mquery ('l'){    
    font-size: 2.5em;
    margin: .2em 0;
  } 
  }
}

.member-info{
  height: 4.2em;
  border-bottom: 1px solid lightgrey;
  @include flex($dir: row);
  & p{
    margin:0;
  }
  & img{
    margin-left: 1em;
  }

}

.members-text{
  margin-left: 1.5em; 
  @include flex($dir: column, $wrap: wrap);
}


// .join-date{
  
// }



//Body grid container setup

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    grid-template-areas: 
      "header"
      "nav" 
      "main";
    @include mquery ('m') {
      grid-template-columns:80px 1fr;
      grid-template-areas: 
      "header header"
      "nav main"      

    }
  }

  header {
    grid-area: header;
  }
  
  nav {
    grid-area: nav;  
  }
  
  main {
    grid-area: main;
  }
    // end of body grid container setup

  // main element grid container

 main{
    display: grid;     
    grid-template-areas: main;
    @include mquery('m'){
      grid-template-columns: 1fr 1fr;
    }
  }



  // end of main element grid container


  .dashboard-header, .traffic, .social-section{
    @include mquery('m'){
      grid-column: 1 / span 2;

    }
  }

  .traffic-mobile-section, .message{
    @include mquery('m'){
      grid-column: 1 / span 1;

    }
  }

  .mobile-users, .recent-activity-container, .settings{

    @include mquery('m'){
      grid-column: 2 / span 1;
    }
  }

  .traffic, 
  .social-section,   
  .daily-traffic, 
  .new-members-container, 
  .message
  .mobile-users,
  .recent-activity-container{
    border-bottom: 1px solid lightgrey;
  }

  .widget-container-half, .widget-cotainer-full{
    width: 95vw;
    }

  .widget-container-half{
    @include mquery ('m'){
      width: 45vw;
    }
  }

  .widget-cotainer-full{
    @include mquery ('m'){
      width: 90vw;
    }
  }



