/* ============================================= */
/*              Search                            */
/* ============================================= */


input[type="search"]{
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: 2em;
  outline: 0;
  padding: 15px;
  width: 60%;
  background-color: #e8eeef;
  color: #4B6B70;
  box-shadow: 0 2px 0 rgba(0,0,0,0.03) inset;
  border-radius: 5px;
  margin-top: .7em;
  margin-right: .5em;


}


input{
  transition: background-color .5s ease .1s;

&:focus{
  background-color: white;
  border: solid 1px lightgrey;
}
}

