/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  border: solid 5px red;
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0;
}

h1{
  margin: 0;
  font-size: 2.5em;
}

h2{
  margin: .5em .5em;

  }

  h3{
    margin: .8em;
  }

h4{
  margin: 0;
  font-size: .8em;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */


 
.toggle-button{
  float: right;
  margin-right: 2em;

}

.header{
  color: white;
}


